<section class="secretaria-consultas">
	<table class="table table-striped">
	    <thead>
	      <tr>
	        <th><b>Nombre</b></th>
	        <th><b>Apellidos</b></th>
	        <th><b>Correo</b></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>John</td>
	        <td>Doe</td>
	        <td>john@example.com</td>
	      </tr>
	      <tr>
	        <td>Mary</td>
	        <td>Moe</td>
	        <td>mary@example.com</td>
	      </tr>
	      <tr>
	        <td>July</td>
	        <td>Dooley</td>
	        <td>july@example.com</td>
	      </tr>
	    </tbody>
	  </table>
	<button class='btn-form' type="button" ng-click="vm.formularioOpen = true;" name="button">Agregar Consulta</button>

	<secretaria-formulario-consulta
	  ng-if="vm.formularioOpen"
	  open="vm.formularioOpen"
	></secretaria-formulario-consulta>
</section>
