.header-main
  height: 4em
  background: #E9EAED
  display: flex
  justify-content: space-between
  align-items: center
  button
    margin-right: 1em
    padding: .5em 1em;
    border: 0;
    border-radius: 7px;
    background #f26f62
    color #fff
    cursor pointer
  h1
    margin-left 1em
