<section class="secretaria-consultas">
	<table class="table table-striped">
	    <thead>
	      <tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Paterno</th>
					<th>Materno</th>
					<th>Telefono</th>
					<th>Correo</th>
					<th></th>
	      </tr>
	    </thead>
	    <tbody>
				<tr ng-repeat="paciente in vm.pacientes">
          <td>{{paciente.id_paciente}}</td>
          <td>{{paciente.nombre_pac}}</td>
          <td>{{paciente.paterno_pac}}</td>
          <td>{{paciente.materno_pac}}</td>
          <td>{{paciente.telefono_pac}}</td>
          <td>{{paciente.correo_pac}}</td>
          <td>
            <i class="fa fa-file-text" ng-click="vm.formularioOpen2 = true"></i>
            <i class="fa fa-ban" ng-click="vm.pacienteDelete=paciente; vm.warningOn = true;"></i>
            <i class="fa fa-pencil" ng-click="vm.patient=paciente; vm.formularioUpOpen = true;"></i>
          </td>
        </tr>
	    </tbody>
	  </table>
	<button class='btn-form' type="button" ng-click="vm.formularioOpen = true;" name="button">Agregar Paciente</button>
	<secre-paciente-formulario
		ng-if= "vm.formularioOpen"
		open = "vm.formularioOpen"
	></secre-paciente-formulario>
	<secretaria-formulario-update-paciente
		ng-if="vm.formularioUpOpen"
		abiertoform = "vm.formularioUpOpen"
		paciente = "vm.patient"
	></secretaria-formulario-update-paciente>
	<alert-warning
		ng-if="vm.warningOn"
		is-warning-on = "vm.warningOn"
		msj-warning="¿Estas seguro que quieres eliminar el paciente? una vez borrado no se podrá recuperar?"
		function-to-invoke="vm.borrarPaciente(vm.pacienteDelete)"
	></alert-warning>
</section>
