.secretaria
  height 30em
  background: blue
  &-container
    width: 100%
    &-opciones
      ul
        li
          height 8em
          width 8em
          background: green
          border-radius: 128px
          color transparent
          cursor: pointer;
          transition all .5s ease
        li:hover
          color white
          background red
