.secretaria
  &-nav
    background: #E9EAED
    border-top: 2px solid white
    ul
      li
        padding: 1em 4em
        cursor: pointer;
        transition: background .4s ease
      li:hover
        background: #f26f62
.container-nav
  height: 34em

@import './consultas/formulario/consultas'
@import './consultas/listado/listado'
@import './doctores/formulariod/doctores'
@import './doctores/listadod/listadod'
@import './pacientes/formulariop/pacientes'
@import './pacientes/listadop/listadop'