.secretaria
  &-nav
    background: #E9EAED
    border-top: 2px solid white
    ul
      li
        padding: 1em 4em
        cursor: pointer;
        transition: background .4s ease
      li:hover
        background: #f26f62

@import './consultas/consultas'
