.secretaria-consultas
  height: inherit
  &-container
    height 13em
    background: #CCCCCC;
    border-radius: 10px;
    form
      width: 100%
      .form-container
          display flex
        .form-container-label
          width 5em
          text-align end
          margin-right 2em
          margin-bottom 1em
        .form-container-input
          input, select
            width 8em
        h3
          text-align: center;
          padding: 1em 0
