.alertas
  position: fixed;
  left: 0
  right: 0
  top: 0
  bottom: 0
  background rgba(black,0.6)
  &-container
    background: #fff
    padding: 1em
    border-radius 6px
    &-icono
      img
        width: 7em
        height: 7em
    &-msj
      h5
        font-size: 1.4em
.alert-success
  position: fixed
  right: 21px
  top: 68px
