<section class="secretaria-consultas">
	<table class="table table-striped">
	    <thead>
	      <tr>
	        <th><b>Nombre</b></th>
	        <th><b>Apellidos</b></th>
	        <th><b>Tel/Cel</b></th>
	        <th><b>Correo</b></th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>Esau</td>
	        <td>Martinez Contreras</td>
	        <td>8444448338</td>
	        <td>esaumtz@example.com</td>
					<td>
						<i class="fa fa-trash" aria-hidden="true"></i>
						<i class="fa fa-pencil-square" aria-hidden="true"></i>
					</td>
	      </tr>
	      <tr>
	        <td>Maria Lorena</td>
	        <td>Lazcano Fdz</td>
	        <td>8448926864</td>
	        <td>lorenalazcano@example.com</td>
					<td>
						<i class="fa fa-trash" aria-hidden="true"></i>
						<i class="fa fa-pencil-square" aria-hidden="true"></i>
					</td>
	      </tr>
	      <tr>
	        <td>Daniel</td>
	        <td>Noriega</td>
	        <td>8442923335</td>
	        <td>d.norris@example.com</td>
					<td>
						<i class="fa fa-trash" aria-hidden="true"></i>
						<i class="fa fa-pencil-square" aria-hidden="true"></i>
					</td>
	      </tr>
	    </tbody>
	  </table>
	<button class='btn-form' type="button" ng-click="vm.formularioOpen = true;" name="button">Agregar Doctor</button>

	<secretaria-formulario-doctor
	  ng-if="vm.formularioOpen"
	  open="vm.formularioOpen"
	></secretaria-formulario-doctor>
</section>
