*
  outline none !important
	box-sizing border-box !important
body
 background #E9EAED !important
.margen
	margin 0
.row
  margin-left: 0 !important
  margin-right: 0 !important
@import 'nib';
@import '../node_modules/flexboxgrid/dist/flexboxgrid.css';
@import '../node_modules/reset.css/reset.css';
@import '../node_modules/normalize.css/normalize.css'
@import './app/login/login'
@import './app/home/home'
@import './app/main/main'
@import './app/main/components/components'
